
<footer> <!-- want's to make this dynamic -->
  <div class="foot" style="text-align: center; border: solid 1px #dfa34c;">
    <p>Created By Meditech<sup>&reg</sup>  -Copyright {{getCurrentYear}}</p>
  </div>
<!-- sometimes &#174 -->
</footer>
