<header>
  <div class="head" style="border: solid 1px #acf213; background-color: #aeae12; border-radius: 5px;">
    <h1>{{toUpC pageTitle}}</h1> <!-- Calling The Function To convert All our pageTitle text to Upper case -->
    <p> <a href="/">Home</a> </p>
    <p> <a href="/about">About</a> </p>
    <p> <a href="/projects">Projects</a> </p>

  </div>
</header>
